#LOADING {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.close {
    font-size: inherit;
}

.validation-message {
    color: red;
}

.font-size-large {
    font-size: large;
}

.font-size-larger {
    font-size: larger;
}

.font-size-medium {
    font-size: medium;
}

.font-size-small {
    font-size: small;
}

.font-size-smaller {
    font-size: smaller;
}

.font-size-x-large {
    font-size: x-large;
}

.font-size-x-small {
    font-size: x-small;
}

.font-size-xx-large {
    font-size: xx-large;
}

.font-size-xx-small {
    font-size: xx-small;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

/* Bootstrap classes */
.d-flex {
    display: flex !important;
}

.d-inline-block {
    display: inline-block !important;
}

.flex-column-reverse {
    -ms-flex-direction: column-reverse !important;
    flex-direction: column-reverse !important;
}

.float-right {
    float: right !important;
}

.overflow-auto {
    overflow: auto !important;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}

.border {
    border: 1px solid #dee236 !important;
}

.border-0 {
    border: 0 !important;
}

.border-primary {
    border-color: #007bff !important;
}

.rounded {
    border-radius: .25rem !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mx-3 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mr-auto {
    margin-right: auto !important;
}

.mt-auto {
    margin-top: auto !important;
}

.mb-auto {
    margin-bottom: auto !important;
}

.mr-1 {
    margin-right: .25rem !important;
}

.mr-2 {
    margin-right: .5rem !important;
}

.mt-2 {
    margin-top: .5rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-2 {
    margin-bottom: .5rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.p-0 {
    padding: 0 !important;
}

.p-2 {
    padding: .5rem !important;
}

.px-1 {
    padding-left: .25rem !important;
    padding-right: .25rem !important;
}

.pl-1 {
    padding: .25rem !important;
}

.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-muted {
    color: #6c757d !important
}

.text-danger {
    color: red;
}

.bg-transparent {
    background: transparent !important;
}

.close {
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/* These are MatBlazor responsivness breakpoints */
@media (min-width: 600px) {
    .w-sm-auto {
        width: auto !important;
    }

    .m-sm-4 {
        margin: 1.5rem !important;
    }
}

@media (min-width: 960px) {
    .w-md-auto {
        width: auto !important;
    }

    .w-md-75 {
        width: 75% !important;
    }

    .p-md-4 {
        padding: 1.5rem !important;
    }
}

@media (min-width: 1280px) {
    .w-lg-auto {
        width: auto !important;
    }
}

@media (min-width: 1920px) {
    .w-xl-auto {
        width: auto !important;
    }
}

/* MatBlazor Style Overrides */
:focus {
    outline: none !important;
}
