@page "/"
<Title>Will's Tools</Title>

<div class="text-center">
    Be adventurous. Click some buttons.
</div>

@code {
    [CascadingParameter] MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Layout.Reset();
    }
}